/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/auth/auth.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.auth-form {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-form h2 {
    margin-bottom: 1rem;
}

.auth-form input[type="tel"],
.code-inputs input {
    width: 90%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.code-inputs {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.code-inputs input {
    width: 3rem;
    text-align: center;
}

.auth-form button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
}

.divider {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #888;
}

.socials {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}
