/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/auth/auth.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.auth-form {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-form h2 {
    margin-bottom: 1rem;
}

.auth-form input[type="tel"],
.code-inputs input {
    width: 90%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.code-inputs {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.code-inputs input {
    width: 3rem;
    text-align: center;
}

.auth-form button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
}

.divider {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #888;
}

.socials {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.auth-form select {
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    appearance: none;
    /* Убирает стрелку в Chrome */
    -webkit-appearance: none;
    /* Убирает стрелку в Safari */
    -moz-appearance: none;
    /* Убирает стрелку в Firefox */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23333' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 12px;
}
